#root .order-output-dialog-l48c5 {
  max-width: sm;
}

#root .order-output-dialog-l56c7 {
  padding-bottom: 8px;
}

#root .order-output-dialog-l60c9 {
  color: #64748b;
}

#root .order-output-dialog-l60c9 {
  margin-bottom: 16px;
}

#root .order-output-dialog-l63c9 {
  margin-bottom: 16px;
  border-bottom: 1px solid #e5e7eb;
  border-color: #e5e7eb;
}

#root .order-output-dialog-l83c9 {
  gap: 12px;
}

#root .order-output-dialog-l85c13 {
  padding: 16px;
  border-radius: 24px;
  background-color: #fafafa;
}

#root .order-output-dialog-l86c15 {
  font-weight: 700;
}

#root .order-output-dialog-l86c15 {
  margin-bottom: 8px;
}

#root .order-output-dialog-l89c15 {
  flex-direction: row;
}

#root .order-output-dialog-l89c15 {
  gap: 8px;
}

#root .order-output-dialog-l89c15 {
  flex-wrap: wrap;
}

#root .order-output-dialog-l112c13 {
  padding: 16px;
  border-radius: 24px;
}

#root .order-output-dialog-l113c15 {
  flex-direction: row;
}

#root .order-output-dialog-l113c15 {
  align-items: center;
}

#root .order-output-dialog-l113c15 {
  justify-content: space-between;
}

#root .order-output-dialog-l113c15 {
  gap: 16px;
}

#root .order-output-dialog-l115c19 {
  font-weight: 700;
}

#root .order-output-dialog-l116c19 {
  color: #64748b;
}

#root .order-output-dialog-l120c17 {
  flex-shrink: 0;
  min-width: 95px;
}

#root .order-output-dialog-l146c11 {
  color: #64748b;
}
