@import './variables.css';
/* CSS Sibling for layout separation */

.payments-pagination-container {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(224, 224, 224, 1);
  flex-wrap: wrap;
  gap: 16px;
}

@media (max-width: 600px) {
  .payments-pagination-container {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
}

.review-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  flex-wrap: wrap;
  gap: 8px;
}

.review-filters-container {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  flex-wrap: wrap;
  align-items: center;
}
